<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home{% endblock%} -MoneyCalcs</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="icon" href="static\icons8-calculator-16.png" />
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body>
    <nav>
      <div x-data="{isOpen : false}">
        <div class="mobileButtonDiv">
          <button
            class="mobileNavToggle"
            type="button"
            aria-label="toggle menu"
            @click="isOpen = !isOpen"
          >
            <img
              class="mobileNavToggleImg"
              src="static\baseline_menu_black_24dp.png"
              alt=""
            />
          </button>
          <p>MoneyCalcs &copy;</p>
        </div>
        <div class="pcNav">
          <ul class="pcNav">
            <li><a href="{{url_for('views.index')}}">Home</a></li>
            <li><a href="{{url_for('views.loan')}}">Loan Calculator</a></li>
            <li>
              <a href="{{url_for('views.invest')}}">Investment Calculator</a>
            </li>
          </ul>
        </div>
        <div x-show="isOpen" class="mobileNav">
          <ul>
            <hr />
            <li><a href="{{url_for('views.index')}}">Home</a></li>

            <li><a href="{{url_for('views.loan')}}">Loan Calculator</a></li>

            <li><a href="#">Investment Calculator</a></li>
            <hr />
          </ul>
        </div>
      </div>

      <!--Mobile menu button-->
    </nav>
    {% for message in get_flashed_messages() %}
    <div id="flash" class="flash">
      {{message}}
      <button type="button" id="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% block content %} {% endblock %}
    <footer><p>&copy; 2022 Thom Bator</p></footer>
    <script>
      const flash = document.getElementById("flash");
      const alert = document.getElementById("alert");

      alert.addEventListener("click", function closeAlert(event) {
        flash.remove();
      });
    </script>
  </body>
</html>
