<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home{% endblock%} -MoneyCalcs</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="icon" href="static\icons8-calculator-16.png" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{url_for('views.index')}}">Home</a></li>
        <li><a href="{{url_for('views.loan')}}">Loan Calculator</a></li>
        <li><a href="#">Investment Calculator(Coming Soon)</a></li>
      </ul>
    </nav>
    {% for message in get_flashed_messages() %}
    <div id="flash" class="flash">
      {{message}}
      <button type="button" id="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% block content %} {% endblock %}

    <script>
      const flash = document.getElementById("flash");
      const alert = document.getElementById("alert");

      alert.addEventListener("click", function closeAlert(event) {
        flash.remove();
      });
    </script>
  </body>
</html>
