{% extends 'base.html' %}

{% block title %}Loan Calculator{% endblock %}
{% block content %} 
<section>
    <!--
        You might be wondering why there are two versions of the form here. I wanted the data to stay populated after a submit, but wanted the ability to reset the form easily. After a bit of Googling I found it would be easiest to implement with if statements. The approach of having two forms is easier as I have to write in fewer if statements.
    -->
    <form method="POST" id="loanForm">
    <h1>Loan Cost Calculator</h1>
    <label for="loanAmount">Loan Amount: $</label>
    {% if SUBMIT == true %}
        <input type="number" id="loanAmount" name="loanAmount" value="{{request.form['loanAmount']}}" step="0.1">
        <div>
            <label for="loanTermYears">Loan Term Years: </label>
            <input id="loanTerm" name="years" type="number" placeholder="years" value="{{request.form['years']}}">
            <label for="loanTermMonths">Loan Term Months: </label>
            <input id="loanTerm" name="months" type="number" placeholder="months" value="{{request.form['months']}}">
        </div>
        <label for="interestRate">Annual Interest Rate: (APR) </label>
        <span><input type="number" id="interestRate" name="interestRate" step=".01"
                value="{{request.form['interestRate']}}">%</span>
        <br>
        <label for="payFrequency">Payment Frequency: </label>
        <select id="payFrequency" name="payFrequency" value="{{request.form['payFrequency']}}">
            <option value="monthly" selected>Monthly</option>
            <option value="bi-weekly">Bi-weekly</option>
            <option value="weekly">Weekly</option>
        </select>
    {% else %}
        <input type="number" id="loanAmount" name="loanAmount" step="0.1">
        <div>
            <label for="loanTermYears">Loan Term Years: </label>
            <input id="loanTerm" name="years" type="number" placeholder="years">
            <label for="loanTermMonths">Loan Term Months: </label>
            <input id="loanTerm" name="months" type="number" placeholder="months">
        </div>
        <label for="interestRate">Annual Interest Rate: (APR) </label>
        <span><input type="number" id="interestRate" name="interestRate" step=".01"
                >%</span>
        <br>
        <label for="payFrequency">Payment Frequency: </label>
        <select id="payFrequency" name="payFrequency">
            <option value="monthly" selected>Monthly</option>
            <option value="bi-weekly">Bi-weekly</option>
            <option value="weekly">Weekly</option>
        </select>
    {% endif %}


        <br>
        <button type="submit" name="submit" value="submit">Submit</button>
        <button type="submit" name="reset" value="reset">Reset</button>
    </form>
    {%if LOAN_DETAILS and SUBMIT %}
    Total Loan Cost: ${{LOAN_DETAILS.total_loan_cost}}
    {% endif %}


</section>
<section class="page-overview">
    <h2>End The Debt Cycle</h2>
    <p>Sometimes you just have to take a loan. Especially when it comes to essentials like housing, healthcare and education.</p>
    <p> But then there are those more discretionary loans. New electronics, expensive car payments, vacations on the credit card. This second category of loans can leave you trapped in a cycle of debt.</p>
     <p>Over time, interest will balloon the total cost of your loan. This can leave you with payments that keep piling up, year after year.</p>
     
     <p>The next time you're considering a discretionary loan, consider using this handy loan calculator first. It can help you see the true cost of borrowing money today.</p> 
     
     <p>Then, you can use our <a href="#">Investment Calculator</a> to see the difference saving all those loan payments could make. </p>
</section>



{% endblock %} 
