{% extends 'base.html'%} {% block title %}Invest{% endblock %} {%block content%}
<header class="header">
  <div class="flexItem">
    <img
      class="hero"
      src="static\pexels-rodnae-productions-5637572.jpg"
      alt="Elderly couple holding flowers"
    />
  </div>
  <div class="headerText flexItem">
    <h1>Investment Calculator</h1>
    <p>
      If you invested $10,000 in the
      <a href="https://en.wikipedia.org/wiki/S%26P_500">S&P 500 index </a>fund
      in 1980 it would be worth over $1,000,000 today. Regular monthly
      contributions can add up to life-changing amounts over time. Use our
      investment calculator to see what your financial future could look like. All results are based on annual compounding.
      <em>
          Note: by default this calculator uses the S&P 500's
          <a
            href="https://www.investopedia.com/ask/answers/042415/what-average-annual-return-sp-500.asp"
            >average annual return</a
          >
          of 11.82%. You can also input a custom interest rate.
              </p>
      </em>
    <form method="POST" id="investForm" class="form">
      <div class="calcInput">
        <label for="initialDeposit">Initial Deposit($): </label
        ><input
          type="number"
          id="initialDeposit"
          name="initialDeposit"
          step="0.01"
          value="{{request.form['initialDeposit']}}"
        />
      </div>
      <div class="calcInput">
        <label for="monthlyDeposit">Monthly Deposit($): </label
        ><input
          type="number"
          id="monthlyDeposit"
          name="monthlyDeposit"
          step="0.01"
          value="{{request.form['monthlyDeposit']}}"
        />
      </div>
      <div class="calcInput">
        <label for="interestRate">Interest Rate(%): </label
        ><input
          type="number"
          id="interestRate"
          name="interestRate"
          step="0.01"
          {% if SUBMIT %}
          value="{{request.form['interestRate']}}"
          {% else %}
          value="11.82"
          {% endif %}
        />

        <div class="calcInput">
        <label for="years">Years to Invest: </label
        ><input
          type="number"
          id="years"
          name="years"
          step="1"
          value="{{request.form['years']}}"
        />


        <div class="calcButtons">
          <button type="submit" name="submit" value="submit">Submit</button>
          <button type="submit" name="reset" value="reset">Reset</button>
        </div>
      </div>
    </form>
  </div>
</header>

{% if SUBMIT  %}
  <main class="displayResults">
    <div class="calcOutput">
      <h2>Results: </h2>
      <hr/>
      <ul>
        <li>Investment Value After {{INVEST_DETAILS.years}} Years : ${{INVEST_DETAILS.total}}</li>
        <li>Your Total Deposits: ${{INVEST_DETAILS.total_deposits}}</li>
        <li>Total Profits: ${{INVEST_DETAILS.profit}} </li>
        
      </ul>



    </div>
  </main>
  <div id="results"</div>
<script defer>
  const element = document.getElementById("results");
  element.scrollIntoView();
</script>
{% endif %}

{% endblock%}
