{% extends 'base.html'%} {% block title %}Invest{% endblock %} {%block content%}
<header>
  <div>
    <img
      src="static\pexels-rodnae-productions-5637572.jpg"
      alt="Elderly couple holding flowers"
    />
  </div>
  <div>
    <h1>Investment Calculator</h1>
    <p>
      Regular monthly contributions can add up to life-changing amounts over
      time. Default interest rate based on S&P 500 historical average.
    </p>

    <hr />
    <form method="POST" id="investForm" class="form">
      <div>
        <label for="initialDeposit">Initial Deposit($): </label
        ><input
          type="number"
          id="initialDeposit"
          name="initialDeposit"
          step="0.01"
          min="0"
          value="{{request.form['initialDeposit']}}"
        />
      </div>
      <div>
        <label for="monthlyDeposit">Monthly Deposit($): </label
        ><input
          type="number"
          id="monthlyDeposit"
          name="monthlyDeposit"
          step="0.01"
          min="0"
          value="{{request.form['monthlyDeposit']}}"
        />
      </div>
      <div>
        <label for="interestRate">Interest Rate(%): </label
        ><input
          type="number"
          id="interestRate"
          name="interestRate"
          step="0.01"
          min="0.1"
          {%
          if
          SUBMIT
          %}
          value="{{request.form['interestRate']}}"
          {%
          else
          %}
          value="11.82"
          {%
          endif
          %}
        />
      </div>
      <div>
        <label for="years">Years to Invest: </label
        ><input
          type="number"
          id="years"
          name="years"
          step="1"
          min="1"
          value="{{request.form['years']}}"
        />
      </div>

      <div>
        <button type="submit" name="submit" value="submit">Submit</button>
        <button type="submit" name="reset" value="reset">Reset</button>
      </div>
    </form>
  </div>
</header>

{% if SUBMIT %}
<div id="investResult"></div>
<main>
  <div>
    <h2>Results:</h2>
    <br />
    <ul>
      <li>
        Value After {{INVEST_DETAILS.years}} Years : ${{INVEST_DETAILS.total}}
      </li>
      <li>Your Total Deposits: ${{INVEST_DETAILS.total_deposits}}</li>
      <li>Total Profits: ${{INVEST_DETAILS.profit}}</li>
    </ul>
  </div>
  <div>
    <img
      src="data:image/png;base64 ,{{INVEST_GRAPH}}"
      alt="A graph showing investment returns by year"
      class="chart"
    />
  </div>
</main>
<script defer>
  const element = document.getElementById("investResult");
  element.scrollIntoView();
</script>
{% endif %} {% endblock%}
