{% extends 'base.html' %} {% block title %}Loans{% endblock %} {% block content
%}

<header class="header">
  <div class="flexItem">
    <img class="hero" src="static\pexels-mikhail-nilov-6963889.jpg" alt="A couple looking at their bills" />
  </div>

  <div class="headerText flexItem">
    <h1>Loan Cost Calculator</h1>
    <p>
      Thinking of taking a loan? This simple calculator can show you the true
      cost.
    </p>
    <form method="POST" id="loanForm" class="form">
      <div class="calcInput">
        <label for="loanAmount">Loan Amount($):</label>

        <input
          type="number"
          id="loanAmount"
          name="loanAmount"
          value="{{request.form['loanAmount']}}"
          step="0.01"
        />
      </div>
      <div class="calcInput">
        <label for="loanTermYears">Loan Term Years: </label>
        <input
          id="loanTerm"
          name="years"
          type="number"
          step="1"
          value="{{request.form['years']}}"
        />
      </div>
      <div class="calcInput">
        <label for="loanTermMonths">Loan Term Months: </label>
        <input
          id="loanTerm"
          name="months"
          type="number"
          step="1"
          value="{{request.form['months']}}"
        />
      </div>
      <div class="calcInput">
        <label for="interestRate">Annual Interest Rate(%):</label>
        <input
          type="number"
          id="interestRate"
          name="interestRate"
          step=".01"
          value="{{request.form['interestRate']}}"
        />
      </div>
      <div class="calcInput">
        <label for="payFrequency">Payment Frequency: </label>
        <select
          id="payFrequency"
          name="payFrequency"
          value="{{request.form['payFrequency']}}"
        >
          <option value="monthly" selected>Monthly</option>
          <option value="bi-weekly">Bi-weekly</option>
          <option value="weekly">Weekly</option>
        </select>
      </div>

      <div class="calcButtons">
        <button type="submit" name="submit" value="submit">Submit</button>
        <button type="submit" name="reset" value="reset">Reset</button>
      </div>
    </form>
  </div>
</header>

{% if LOAN_DETAILS and SUBMIT %}
<main class="displayResults">
  
  <div class="calcOutput">
    <h2>Results:</h2>
    <hr />
    <ul>
      <li>Total Loan Cost: ${{"{:,.2f}".format(LOAN_DETAILS.total_loan_cost)}}</li>
      <li>
        Payment({{LOAN_DETAILS.period_type}}): ${{"{:,.2f}".format(LOAN_DETAILS.period_payment)}}
      </li>
      <li>Total Interest Paid: ${{"{:,.2f}".format(LOAN_DETAILS.interest_paid)}}</li>
    </ul>
  </div>

  <div class="chartDiv">
    <img class="chart"
      src="data:image/png;base64 ,{{LOAN_CHART}}"
      alt="A pie chart comparing interest to principal"
    />
  </div>
</main>
<div id="results"</div>
<script defer>
  const element = document.getElementById("results");
  element.scrollIntoView();
</script>
{% endif %} {% endblock %}
